.heading {
  height: 70px;
  margin-bottom: 30px;
}

.header-container {
    float: left;
    margin-bottom: 20px;
  }
  
  .nav-bar {
    margin-bottom: 20px;
    float: right;
  }
  
  .name {
    font-weight: 400;
    font-size: 16px;
  }
  
  .nav-bar > nav {   
    display: flex;
    flex-direction: column;
  }
  
  .nav-bar > nav > ul > li {
    list-style-type: none;
    /* float: left;
    margin: auto 10px; */
  }
  
  .nav-bar > nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 5px;
  }

  .nav-bar > nav > ul > li > a:hover {
    background-color: beige;
    color: black;
  }
  
  @media screen and (min-width:700px){
    .name2 {
      display: flex;
      visibility: visible;
    }

    .name {
      display: none;
      visibility: hidden;
    }

    .nav-bar {
      width: 45%;
    }

    .nav-bar > nav > ul {
      display: flex;
    }

    .nav-bar > nav > ul > li {
      float: left;
      width: 100%;
      justify-content: space-evenly;
      margin-left: 10px;
      margin-right: 10px;
    }
  }